
/*
body{
    background-color:black;
}

nav{
    display: inline;
    margin-left: 2000;
}
header{
    margin: 0 auto;
    width: 400px;
    height: 50px;
    background-image: url(./pages/images/BANER1.jpg);
    background-repeat: no-repeat;
    color: red;
}

.main{
    margin:0 auto;
    width: 800px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: dotted;
    color: white;
}
*/